<%- include('header') %>
<style>
	table {
		text-align: center;
	}
	table.intonation {
		text-align: center;
		margin: auto;		
	}
</style>

<hr>
<h3>Color Correspondences (Corrected)</h3>
<p>These are corrected color and sound correspondences, with Aries set at rose.</p>

<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Sign</th>
		<th>Planet</th>
		<th>Color</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th><a href="/keys/H">Aries</a></th>
		<td></td>
		<td><a href="/color/$bf0060">rose</a></td>
		<td>(G)</td>
	</tr>
	<tr>
		<th><a href="/keys/V">Taurus</a></th>
		<td><a href="/keys/P">Mars</a></td>
		<td><a href="/color/$ee0000">red</a></td>
		<td>(G#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Z">Gemini</a></th>
		<td></td>
		<td><a href="/color/$ff6300">orange</a></td>
		<td>(A)</td>
	</tr>
	<tr>
		<th><a href="/keys/Ch">Cancer</a></th>
		<td><a href="/keys/R">Sun</a></td>
		<td><a href="/color/$ffed00">yellow</a></td>
		<td>(A#)</td>
	</tr>
	<tr>
		<th><a href="/keys/T">Leo</a></th>
		<td></td>
		<td><a href="/color/$99ff00">yellow-green</a></td>
		<td>(B)</td>
	</tr>
	<tr>
		<th><a href="/keys/I">Virgo</a></th>
		<td><a href="/keys/B">Mercury</a></td>
		<td><a href="/color/$28ff00">green</a></td>
		<td>(C)</td>
	</tr>
	<tr>
		<th><a href="/keys/L">Libra</a></th>
		<td><a href="/keys/D">Venus</a></td>
		<td><a href="/color/$00ffe8">cyan</a></td>
		<td>(C#)</td>
	</tr>
	<tr>
		<th><a href="/keys/N">Scorpio</a></th>
		<td></td>
		<td><a href="/color/$007cff">azure</a></td>
		<td>(D)</td>
	</tr>
	<tr>
		<th><a href="/keys/S">Sagittarius</a></th>
		<td><a href="/keys/G">Moon</a></td>
		<td><a href="/color/$0500ff">blue</a></td>
		<td>(D#)</td>
	</tr>
	<tr>
		<th><a href="/keys/O">Capricorn</a></th>
		<td></td>
		<td><a href="/color/$5000ab">violet</a></td>
		<td>(E)</td>
	</tr>
	<tr>
		<th><a href="/keys/Tz">Aquarius</a></th>
		<td><a href="/keys/K">Jupiter</a></td>
		<td><a href="/color/$ab00ab">magenta</a></td>
		<td>(F)</td>
	</tr>
	<tr>
		<th><a href="/keys/Q">Pisces</a></th>
		<td><a href="/keys/Th">Saturn</a></td>
		<td><a href="/color/$00140a">black</a></td>
		<td>(F#)</td>
	</tr>
</tbody>
</table>

<hr>
<h3>Planetary Attunement (corrected)</h3>

<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Planet</th>
		<th>Color</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><a href="/keys/Th">Saturn</a></td>
		<td><a href="/color/$00140a">black</a></td>
		<td>(F)</td>
	</tr>
	<tr>
		<td><a href="/keys/R">Sun</a></td>
		<td><a href="/color/$ffed00">yellow</a></td>
		<td>(A#)</td>
	</tr>
	<tr>
		<td><a href="/keys/P">Mars</a></td>
		<td><a href="/color/$ee0000">red</a></td>
		<td>(G#)</td>
	</tr>
	<tr>
		<td><a href="/keys/K">Jupiter</a></td>
		<td><a href="/color/$ab00ab">magenta</a></td>
		<td>(F#)</td>
	</tr>
	<tr>
		<td><a href="/keys/D">Venus</a></td>
		<td><a href="/color/$00ffe8">cyan</a></td>
		<td>(C#)</td>
	</tr>
	<tr>
		<td><a href="/keys/G">Moon</a></td>
		<td><a href="/color/$0500ff">blue</a></td>
		<td>(D#)</td>
	</tr>
	<tr>
		<td><a href="/keys/B">Mercury</a></td>
		<td><a href="/color/$28ff00">green</a></td>
		<td>(C)</td>
	</tr>
</tbody>
</table>

<hr>
<h3>Divine Name Intonations (Corrected)</h3>
<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Sephirah</th>
		<th>Grade</th>
		<th>Divine Name</th>
		<th>Intonation</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>חסד<br/>
			<a href="/keys/ChSD">Chesed</a></th>
		<td>(7 = 4)<br/>
			Exempt Adept</td>
		<td>אל<br/>
			<a href="/keys/AL">El</a></td>
		<td>
			<table class="intonation">
				<tr>
					<td>Ay</td><td>-</td>
					<td>yl</td>
				</tr>
				<tr>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>תפארת<br/>
			<a href="/keys/GBVRH">Geburah</a></th>
		<td>(6 = 5)<br/>
			Greater Adept</td>
		<td>אלהים גבור<br/>
			<a href="/keys/ALHIM.GBVR">Elohim Gebur</a></td>
		<td>
			<table class="intonation">
				<tr>
					<td>Ay</td><td>-</td>
					<td>lo</td><td>-</td>
					<td>hee</td><td>-</td>
					<td>ee</td><td>-</td>
					<td>mm</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>Geh</td><td>-</td>
					<td>boo</td><td>-</td>
					<td>oo</td><td>-</td>
					<td>er</td>
				</tr>
				<tr>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</a></td><td>-</td>
					<td><a href="/color/$bf0060">G</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$0500ff">D#</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a href="/color/$0500ff">D#</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$ee0000">G#</a></td><td>-</td>
					<td><a href="/color/$ffed00">A#</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>נצח<br/>
			<a href="/keys/NTzCh">Netzach</a></th>
		<td>(4 = 7)<br/>
			Philosophus</td>
		<td>יהוה צבאות<br/>
			<a href="/keys/IHVH.TzBAVTh">Jehovah Tzabaoth</a></td>
		<td>
			<table class="intonation">
				<tr>
					<td>Yod</td><td>-</td>
					<td>Heh</td><td>-</td>
					<td>Waw</td><td>-</td>
					<td>Heh</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>Tza</td><td>-</td>
					<td>ba</td><td>-</td>
					<td>ah</td><td>-</td>
					<td>oo</td><td>-</td>
					<td>oth</td>
				</tr>
				<tr>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$bf0060">G</a></td><td>-</td>
					<td><a href="/color/$ee0000">G#</a></td><td>-</td>
					<td><a href="/color/$bf0060">G</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a href="/color/$ab00ab">F</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$ee0000">G#</a></td><td>-</td>
					<td><a href="/color/$00140a">F#</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>הוד<br/>
			<a href="/keys/HVD">Hod</a></th>
		<td>(3 = 8)<br/>
			Practicus</td>
		<td>אלהים צבאות<br/>
			<a href="/keys/ALHIM.TzBAVTh">Elohim Tzabaoth</a></td>
		<td>
			<table class="intonation">
				<tr>
					<td>Ay</td><td>-</td>
					<td>lo</td><td>-</td>
					<td>hee</td><td>-</td>
					<td>ee</td><td>-</td>
					<td>mm</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>Tza</td><td>-</td>
					<td>ba</td><td>-</td>
					<td>ah</td><td>-</td>
					<td>oo</td><td>-</td>
					<td>oth</td>
				</tr>
				<tr>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</a></td><td>-</td>
					<td><a href="/color/$bf0060">G</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$0500ff">D#</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a href="/color/$ab00ab">F</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$ee0000">G#</a></td><td>-</td>
					<td><a href="/color/$00140a">F#</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>יסוד<br/>
			<a href="/keys/ISVD">Yesod</a></th>
		<td>(2 = 9)<br/>
			Theoricus</td>
		<td>שדי אל חי<br/>
			<a href="/keys/ShDI.AL.ChI">Shaddai El Chai</a></td>
		<td>
			<table class="intonation">
				<tr>
					<td>Shah</td><td>-</td>
					<td>dah</td><td>-</td>
					<td>ee</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>Ay</td><td>-</td>
					<td>el</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>Chah</td><td>-</td>
					<td>ee</td>
				</tr>
				<tr>
					<td><a href="/color/$ee0000">G#</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td><a href="/color/$28ff00">C</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</a></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td><a href="/color/$00ffe8">A#</td><td>-</td>
					<td><a href="/color/$ee0000">C</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>מלכות<br/>
			<a href="/keys/MLKVTh">Malkuth</a></th>
		<td>(1 = 10)<br/>
			Zelator</td>
		<td>אדני מלך<br/>
			<a href="/keys/ADNI.MLK">Adonai Melek</a></td>
		<td>
			<table class="intonation">
				<tr>
					<td>Ah</td><td>-</td>
					<td>doh</td><td>-</td>
					<td>nah</td><td>-</td>
					<td>ee</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>Meh</td><td>-</td>
					<td>--</td><td>-</td>
					<td>lek</td>
				</tr>
				<tr>
					<td><a href="/color/$ee0000">C</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</a></td><td>-</td>
					<td><a href="/color/$007cff">D</a></td><td>-</td>
					<td><a href="/color/$28ff00">C</a></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a href="/color/$0500ff">D#</a></td><td>-</td>
					<td><a href="/color/$00ffe8">C#</td><td>-</td>
					<td><a href="/color/$ab00ab">F</a></td>
				</tr>
			</table>
		</td>
	</tr>
</tbody>
</table>

<hr>
<h3>Color Correspondences (Original)</h3>
<p>These are color and sound correspondences, as originally presented.</p>

<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Sign</th>
		<th>Planet</th>
		<th>Color</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th><a href="/keys/H">Aries</a></th>
		<td><a href="/keys/P">Mars</a></td>
		<td><a href="/color/red">red</a></td>
		<td>(C)</td>
	</tr>
	<tr>
		<th><a href="/keys/V">Taurus</a></th>
		<td></td>
		<td><a href="/color/$ff4000">orange-red</a></td>
		<td>(C#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Z">Gemini</a></th>
		<td><a href="/keys/R">Sun</a></td>
		<td><a href="/color/orange">orange</a></td>
		<td>(D)</td>
	</tr>
	<tr>
		<th><a href="/keys/Ch">Cancer</a></th>
		<td></td>
		<td><a href="/color/$ffbf00">yellow-orange</a></td>
		<td>(D#)</td>
	</tr>
	<tr>
		<th><a href="/keys/T">Leo</a></th>
		<td><a href="/keys/B">Mercury</a></td>
		<td><a href="/color/yellow">yellow</a></td>
		<td>(E)</td>
	</tr>
	<tr>
		<th><a href="/keys/I">Virgo</a></th>
		<td></td>
		<td><a href="/color/$bfff00">yellow-green</a></td>
		<td>(F)</td>
	</tr>
	<tr>
		<th><a href="/keys/L">Libra</a></th>
		<td><a href="/keys/D">Venus</a></td>
		<td><a href="/color/green">green</a></td>
		<td>(F#)</td>
	</tr>
	<tr>
		<th><a href="/keys/N">Scorpio</a></th>
		<td></td>
		<td><a href="/color/cyan">blue-green</a></td>
		<td>(G)</td>
	</tr>
	<tr>
		<th><a href="/keys/S">Sagittarius</a></th>
		<td><a href="/keys/G">Moon</a></td>
		<td><a href="/color/blue">blue</a></td>
		<td>(G#)</td>
	</tr>
	<tr>
		<th><a href="/keys/O">Capricorn</a></th>
		<td><a href="/keys/Th">Saturn</a></td>
		<td><a href="/color/indigo">indigo</a></td>
		<td>(A)</td>
	</tr>
	<tr>
		<th><a href="/keys/Tz">Aquarius</a></th>
		<td><a href="/keys/K">Jupiter</a></td>
		<td><a href="/color/violet">violet</a></td>
		<td>(A#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Q">Pisces</a></th>
		<td></td>
		<td><a href="/color/$ff007f">red-violet</a></td>
		<td>(B)</td>
	</tr>
</tbody>
</table>

<hr>
<h3>Planetary Attunements (Original)</h3>
<p>These are color and sound correspondences, as originally presented.</p>

<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Planet</th>
		<th>Color</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><a href="/keys/Th">Saturn</a></td>
		<td><a href="/color/indigo">indigo</a></td>
		<td>(A)</td>
	</tr>
	<tr>
		<td><a href="/keys/R">Sun</a></td>
		<td><a href="/color/orange">orange</a></td>
		<td>(D)</td>
	</tr>
	<tr>
		<td><a href="/keys/P">Mars</a></td>
		<td><a href="/color/red">red</a></td>
		<td>(C)</td>
	</tr>
	<tr>
		<td><a href="/keys/K">Jupiter</a></td>
		<td><a href="/color/violet">violet</a></td>
		<td>(A#)</td>
	</tr>
	<tr>
		<td><a href="/keys/D">Venus</a></td>
		<td><a href="/color/green">green</a></td>
		<td>(F#)</td>
	</tr>
	<tr>
		<td><a href="/keys/G">Moon</a></td>
		<td><a href="/color/blue">blue</a></td>
		<td>(G#)</td>
	</tr>
	<tr>
		<td><a href="/keys/B">Mercury</a></td>
		<td><a href="/color/yellow">yellow</a></td>
		<td>(E)</td>
	</tr>
</tbody>
</table>

<hr>
<h3>Color Correspondences (Calculated)</h3>
<p>These are color and sound correspondences, calculated by frequency but without adjustments for non-spectral colors.</p>

<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Sign</th>
		<th>Planet</th>
		<th>Color</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th><a href="/keys/H">Aries</a></th>
		<td><a href="/keys/P">Mars</a></td>
		<td><a href="/color/$ee0000">red</a></td>
		<td>(G#)</td>
	</tr>
	<tr>
		<th><a href="/keys/V">Taurus</a></th>
		<td></td>
		<td><a href="/color/$ff6300">orange</a></td>
		<td>(A)</td>
	</tr>
	<tr>
		<th><a href="/keys/Z">Gemini</a></th>
		<td><a href="/keys/R">Sun</a></td>
		<td><a href="/color/$ffed00">yellow</a></td>
		<td>(A#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Ch">Cancer</a></th>
		<td></td>
		<td><a href="/color/$99ff00">yellow-green</a></td>
		<td>(B)</td>
	</tr>
	<tr>
		<th><a href="/keys/T">Leo</a></th>
		<td><a href="/keys/B">Mercury</a></td>
		<td><a href="/color/$28ff00">green</a></td>
		<td>(C)</td>
	</tr>
	<tr>
		<th><a href="/keys/I">Virgo</a></th>
		<td><a href="/keys/D">Venus</a></td>
		<td><a href="/color/$00ffe8">cyan</a></td>
		<td>(C#)</td>
	</tr>
	<tr>
		<th><a href="/keys/L">Libra</a></th>
		<td></td>
		<td><a href="/color/$007cff">azure</a></td>
		<td>(D)</td>
	</tr>
	<tr>
		<th><a href="/keys/N">Scorpio</a></th>
		<td><a href="/keys/G">Moon</a></td>
		<td><a href="/color/$0500ff">blue</a></td>
		<td>(D#)</td>
	</tr>
	<tr>
		<th><a href="/keys/S">Sagittarius</a></th>
		<td></td>
		<td><a href="/color/$4500ea">indigo</a></td>
		<td>(E)</td>
	</tr>
	<tr>
		<th><a href="/keys/O">Capricorn</a></th>
		<td><a href="/keys/Th">Saturn</a></td>
		<td><a href="/color/$57009e">violet</a></td>
		<td>(F)</td>
	</tr>
	<tr>
		<th><a href="/keys/Tz">Aquarius</a></th>
		<td><a href="/keys/K">Jupiter</a></td>
		<td><a href="/color/$740000">brown</a></td>
		<td>(F#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Q">Pisces</a></th>
		<td></td>
		<td><a href="/color/$b30000">dark red</a></td>
		<td>(G)</td>
	</tr>
</tbody>
</table>

<hr>
<h3>Color Correspondences (Adjusted)</h3>
<p>These are adjusted color and sound correspondences, with Aries set at red.</p>

<table border="2" cellpadding="2">
<thead>
	<tr>
		<th>Sign</th>
		<th>Planet</th>
		<th>Color</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th><a href="/keys/H">Aries</a></th>
		<td><a href="/keys/P">Mars</a></td>
		<td><a href="/color/$ee0000">red</a></td>
		<td>(G#)</td>
	</tr>
	<tr>
		<th><a href="/keys/V">Taurus</a></th>
		<td></td>
		<td><a href="/color/$ff6300">orange</a></td>
		<td>(A)</td>
	</tr>
	<tr>
		<th><a href="/keys/Z">Gemini</a></th>
		<td><a href="/keys/R">Sun</a></td>
		<td><a href="/color/$ffed00">yellow</a></td>
		<td>(A#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Ch">Cancer</a></th>
		<td></td>
		<td><a href="/color/$99ff00">yellow-green</a></td>
		<td>(B)</td>
	</tr>
	<tr>
		<th><a href="/keys/T">Leo</a></th>
		<td><a href="/keys/B">Mercury</a></td>
		<td><a href="/color/$28ff00">green</a></td>
		<td>(C)</td>
	</tr>
	<tr>
		<th><a href="/keys/I">Virgo</a></th>
		<td><a href="/keys/D">Venus</a></td>
		<td><a href="/color/$00ffe8">cyan</a></td>
		<td>(C#)</td>
	</tr>
	<tr>
		<th><a href="/keys/L">Libra</a></th>
		<td></td>
		<td><a href="/color/$007cff">azure</a></td>
		<td>(D)</td>
	</tr>
	<tr>
		<th><a href="/keys/N">Scorpio</a></th>
		<td><a href="/keys/G">Moon</a></td>
		<td><a href="/color/$0500ff">blue</a></td>
		<td>(D#)</td>
	</tr>
	<tr>
		<th><a href="/keys/S">Sagittarius</a></th>
		<td></td>
		<td><a href="/color/$5000ab">violet</a></td>
		<td>(E)</td>
	</tr>
	<tr>
		<th><a href="/keys/O">Capricorn</a></th>
		<td><a href="/keys/Th">Saturn</a></td>
		<td><a href="/color/$00140a">black</a></td>
		<td>(F)</td>
	</tr>
	<tr>
		<th><a href="/keys/Tz">Aquarius</a></th>
		<td><a href="/keys/K">Jupiter</a></td>
		<td><a href="/color/$ab00ab">magenta</a></td>
		<td>(F#)</td>
	</tr>
	<tr>
		<th><a href="/keys/Q">Pisces</a></th>
		<td></td>
		<td><a href="/color/$bf0060">rose</a></td>
		<td>(G)</td>
	</tr>
</tbody>
</table>


<%- include('footer') %>
