<hr>
<div style='text-align: center;'>
<form action="/swap" method="get">
	<input type="hidden" name="redirect" value="<%= url %>">
	<select name="deck">
		<option value="orig">Choose Deck Color Scheme:</option>
		<option value="orig">Original</option>
		<option value="new">New (Corrected)</option>
		<option value="bw">Black &amp; White</option>
	</select>
	<input type="submit" value="Change Deck">
</form>
</div>
</body>
</html>
