<%- include('header') %>
<style>
	img.sign {
		height: 14px;
		width: 21px;
	}
</style>
<h2>The Great Work</h2>
<table border="2" cellpadding="2">
<tr>
	<th>Stage</th>
	<th>Sign</th>
	<th>Intelligence</th>
	<th>Tribe</th>
	<th>Function</th>
	<th>Direction</th>
	<th>Tarot Key</th>
</tr>

<tr>
	<th>Calcination</th>
	<td><img class='sign' src='/img/astro/Aries.svg'> Aries</td>
	<td><a href='/keys/ShKL.MOMID'>Constituting Intelligence</a></td>
	<td><a href='/keys/GD'>Gad</a> (<a href='https://biblehub.com/interlinear/genesis/30-11.htm'>"fortune"</a>)</td>
	<td>Sight</td>
	<td><a href='/keys/PD'>North-East</a></td>
	<td><a href='/keys/H'>4: The Emperor</a></td>
</tr>

<tr>
	<th>Congelation</th>
	<td><img class='sign' src='/img/astro/Taurus.svg'> Taurus</td>
	<td><a href='/keys/ShKL.NTzChI'>Triumphant and Eternal Intelligence</a></td>
	<td><a href='/keys/ShMOVN'>Simeone</a> (<a href='https://biblehub.com/interlinear/genesis/29-33.htm'>"hearing"</a>)</td>
	<td>Hearing</td>
	<td><a href='/keys/RD'>South-East</a></td>
	<td><a href='/keys/V'>5: Hierophant</a></td>
</tr>

<tr>
	<th>Fixation</th>
	<td><img class='sign' src='/img/astro/Gemini.svg'> Gemini</td>
	<td><a href='/keys/ShKL.HRGSh'>Disposing Intelligence</a></td>
	<td><a href='/keys/APRIM'>Ephraim</a> (<a href='https://biblehub.com/interlinear/genesis/41-52.htm'>"fruitfulness"</a>)</td>
	<td>Smell</td>
	<td><a href='/keys/DB'>East-Above</a></td>
	<td><a href='/keys/Z'>6: The Lovers</a></td>
</tr>

<tr>
	<th>Separation</th>
	<td><img class='sign' src='/img/astro/Cancer.svg'> Cancer</td>
	<td><a href='/keys/ShKL.BITh.HShPO'>Intelligence of the House of Influence</a></td>
	<td><a href='/keys/ZBVLN'>Zebulun</a> (<a href='https://biblehub.com/interlinear/genesis/30-20.htm'>"our dwelling"</a>)</td>
	<td>Speech</td>
	<td><a href='/keys/DG'>East-Below</a></td>
	<td><a href='/keys/Ch'>7: The Chariot</a></td>
</tr>

<tr>
	<th>Digestion</th>
	<td><img class='sign' src='/img/astro/Leo.svg'> Leo</td>
	<td><a href='/keys/ShKL.SVD.HPOVLVTh.HRVChNIOTh'> Intelligence of the Secret of all Spiritual Activities</a></td>
	<td><a href='/keys/IHVDH'>Judah</a> (<a href='https://biblehub.com/interlinear/genesis/29-35.htm'>"praised; celebrated"</a>)</td>
	<td>Taste; Digestion</td>
	<td><a href='/keys/PB'>North-Above</a></td>
	<td><a href='/keys/T'>8: Strength</a></td>
</tr>

<tr>
	<th>Distillation</th>
	<td><img class='sign' src='/img/astro/Virgo.svg'> Virgo</td>
	<td><a href='/keys/ShKL.HRTzVN'>Intelligence of Will</a></td>
	<td><a href='/keys/NPThLI'>Naphtali</a> (<a href='https://biblehub.com/interlinear/genesis/30-8.htm'>"my wrestling"</a>)</td>
	<td>Touch; Coition</td>
	<td><a href='/keys/PG'>North-Below</a></td>
	<td><a href='/keys/I'>9: The Hermit</a></td>
</tr>

<tr>
	<th>Sublimation</th>
	<td><img class='sign' src='/img/astro/Libra.svg'> Libra</td>
	<td><a href='/keys/ShKL.NAMN'>Faithful Intelligence</a></td>
	<td><a href='/keys/AShR'>Asher</a> (<a href='https://biblehub.com/interlinear/genesis/30-13.htm'>"Happy One"</a>)</td>
	<td>Work; Action</td>
	<td><a href='/keys/PK'>North-West</a></td>
	<td><a href='/keys/L'>11: Justice</a></td>
</tr>

<tr>
	<th>Putrefaction</th>
	<td><img class='sign' src='/img/astro/Scorpio.svg'> Scorpio</td>
	<td><a href='/keys/ShKL.DMIVNI'>Imaginative Intelligence</a></td>
	<td><a href='/keys/DN'>Dan</a> (<a href='https://biblehub.com/interlinear/genesis/30-6.htm'>"Judge"</a>)</td>
	<td>Locomotion</td>
	<td><a href='/keys/RK'>South-West</a></td>
	<td><a href='/keys/N'>13: Death</a></td>
</tr>

<tr>
	<th>Incineration</th>
	<td><img class='sign' src='/img/astro/Sagittarius.svg'> Sagittarius</td>
	<td><a href='/keys/ShKL.NSIVNI'>Intelligence of Probation</a></td>
	<td><a href='/keys/BNIMIN'>Benjamin</a> (<a href='https://biblehub.com/interlinear/genesis/35-18.htm'>"Son of the Right Hand"</a>)</td>
	<td>zeal, wrath</td>
	<td><a href='/keys/KB'>West-Above</a></td>
	<td><a href='/keys/S'>14: Temperance</a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a> (<a href='https://biblehub.com/interlinear/genesis/'>Gen </a>)</td>
	<td></td>
	<td><a href='/keys/'></a></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a> (<a href='https://biblehub.com/interlinear/genesis/'>Gen </a>)</td>
	<td></td>
	<td><a href='/keys/'></a></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a> (<a href='https://biblehub.com/interlinear/genesis/'>Gen </a>)</td>
	<td></td>
	<td><a href='/keys/'></a></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

</table>
<%- include('footer') %>
