<%- include('header') %>
<style>
	img.sign {
		height: 14px;
		width: 21px;
	}
</style>
<h2>The Great Work</h2>
<table border="2" cellpadding="2">
<tr>
	<th>Stage</th>
	<th>Sign</th>
	<th>Intelligence</th>
	<th>Tribe</th>
	<th>Function</th>
	<th>Direction</th>
	<th>Tarot Key</th>
</tr>

<tr>
	<th>Calcination</th>
	<td><img class='sign' src='/img/astro/Aries.svg'> Aries</td>
	<td><a href='/keys/ShKL.MOMID'>Constituting Intelligence</a></td>
	<td><a href='/keys/GD'>Gad</a></td>
	<td>Sight</td>
	<td>North-East</td>
	<td><a href='/keys/H'>4: The Emperor</a></td>
</tr>

<tr>
	<th>Congelation</th>
	<td><img class='sign' src='/img/astro/Taurus.svg'> Taurus</td>
	<td><a href='/keys/ShKL.NTzChI'>Triumphant and Eternal Intelligence</a></td>
	<td><a href='/keys/ShMOVN'>Simeone</a></td>
	<td>Hearing</td>
	<td>South-East</td>
	<td><a href='/keys/V'>5: Hierophant</a></td>
</tr>

<tr>
	<th>Fixation</th>
	<td><img class='sign' src='/img/astro/Gemini.svg'> Gemini</td>
	<td><a href='/keys/ShKL.HRGSh'>Disposing Intelligence</a></td>
	<td><a href='/keys/APRIM'>Ephraim</a></td>
	<td>Smell</td>
	<td>East-Above</td>
	<td><a href='/keys/Z'>6: The Lovers</a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

<tr>
	<th></th>
	<td><img class='sign' src='/img/astro/.svg'> </td>
	<td><a href='/keys/ShKL.'> Intelligence</a></td>
	<td><a href='/keys/'></a></td>
	<td></td>
	<td></td>
	<td><a href='/keys/'>0: </a></td>
</tr>

</table>
<%- include('footer') %>
