<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title><%= title %></title>
	<link  href="/css/style.css" rel="stylesheet" type="text/css">
	<script src="/script/lodash.js" type="text/javascript"></script>
	<script src="/script/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/script/ready.js" type="text/javascript"></script>
</head>
<body>
<form class="header" action="#" method="get">
<p>
	<a href="/">home</a> | 
	<input type="submit" value="keys"><input type="text" name="keys"> | 
	<input type="submit" value="gematria"><input type="text" name="content"></span> |
	<a href="/greek">greek/latin</a> |
	<a href="/colors">colors</a>
</p>
</form>