<%- include('header') %>
<h2>Holy Qabalah Workbook</h2>
<ul>
	<li><a href="/masterpattern">Master Pattern</a></li>
	<li><a href="/keys">Tarot Key Speller</a></li>
	<li><a href="/content/358">Gematria Dictionary</a></li>
	<li><a href="/keys/A.ChZVHDGB.SNMLKIT.ThShRQTzPO">Tarot Tableau</a></li>
	<li><a href="/img/tree-of-life-600x970.png">Tree of Life</a></li>
	<li><a href="/greatwork">The Great Work</a></li>
	<li><a href="/content/esoteric-astrology">Esoteric Astrology</a></li>
	<li><a href="/SaturnSquares.html">Saturn Squares</a>
		<ul><li><a href="/3x3_1stClass.html">3x3: First Class</a></li>
			<li><a href="/3x3_2ndClass.html">3x3: Second Class</a></li>
			<li><a href="/3x3_3rdClass.html">3x3: Third Class</a></li>
			<li><a href="/3x3_4thClass.html">3x3: Fourth Class</a></li>
			<li><a href="/3x3_5thClass.html">3x3: Fifth Class</a></li>
			<li><a href="/3x3_6thClass.html">3x3: Sixth Class</a></li>
			<li><a href="/3x3_7thClass.html">3x3: Seventh Class</a></li>
			<li><a href="/3x3_8thClass.html">3x3: Eighth Class</a></li>
		</ul>
	</li>
	<li><a href="/JupiterSquares.html">Jupiter Squares</a></li>
	<li><a href="/content/numbers">Numbers in Hebrew</a></li>
	<li><a href="/SevenStages.html">Seven Stages of Unfoldment</a></li>
	<li><a href="/GematriaReductions.html">Gematria Reductions</a></li>
	<li><a href="/content/cloud-upon-sanctuary">The Cloud Upon the Sanctuary, letter VI</a></li>
	<li><a href="/content/bacon">Francis Bacon</a></li>
	<li><a href="/psalm119">Psalm 119 (the "alphabet psalm")</a></li>
	<li><a href="/tattvas">Tattvas</a> (<a href="/content/tattvas">Correspondences</a>)</li>
	<li><a href="/content/bible-guide">Bible Curriculum</a>
		<ul><li><a href="/genesis/1">Genesis</a></li>
			<li><a href="/content/revelation">Revelation</a></li>
		</ul>
	</li>
	<li><a target="_blank" href="https://archive.org/stream/fameconfessionof00vaug#page/n9/mode/2up">The Fame and Confession of the Fraternity of R.C. (Thomas Vaughan)</a>
		<ul><li><a href="/content/fama-intro">Introduction</a></li>
			<li><a href="/content/fama">Fama Fraternitatis</a></li>
			<li><a href="/content/confessio">Confessio Fraternitatis</a></li>
		</ul>
	</li>
	<li><a href="/content/fama-german">Fama Fraternitatis (German) - Gematria</a></li>
	<li><a href="/content/links">Other Links</a></li>
</ul>
<%- include('footer') %>
