<%- include('header') %>
<style>
	img.key {
		width: 124px;
		height: 200px;
	}
</style>
<h2>Master Pattern</h2>
<a id="TableOfContents"/>
<ul>
	<li><a href="#MajorArcana">Major Arcana</a></li>
	<li><a href="#Trestleboard">The Pattern on the Trestleboard</a></li>
	<li><a href="#EmeraldTablet">The Emerald Tablet of Hermes</a></li>
	<li><a href="#TreeOfLife">Tree of Life</a></li>
</ul>

<hr/><a id="MajorArcana" />
<h3>Major Arcana</h3>
<div class="row">
	<img class="key aleph indent-key-3" src="/img/323x522/0-the-fool.png">
</div>
<div class="row">
	<img class="key beth" src="/img/323x522/1-the-magician.png" alt="The Magician" title="The Magician">
	<img class="key gimel" src="/img/323x522/2-high-priestess.png" alt="High Priestess" title="High Priestess">
	<img class="key daleth" src="/img/323x522/3-the-empress.png" alt="The Empress" title="The Empress">
	<img class="key heh" src="/img/323x522/4-the-emperor.png" alt="The Emperor" title="The Emperor">
	<img class="key vav" src="/img/323x522/5-hierophant.png" alt="Hierophant" title="Hierophant">
	<img class="key zain" src="/img/323x522/6-the-lovers.png" alt="The Lovers" title="The Lovers">
	<img class="key cheth" src="/img/323x522/7-the-chariot.png" alt="The Chariot" title="The Chariot">
</div>
<div class="row">
	<img class="key teth" src="/img/323x522/8-strength.png" alt="Strength" title="Strength">
	<img class="key yod" src="/img/323x522/9-the-hermit.png" alt="The Hermit" title="The Hermit">
	<img class="key kaph" src="/img/323x522/10-wheel-of-fortune.png" alt="Wheel of Fortune" title="Wheel of Fortune">
	<img class="key lamed" src="/img/323x522/11-justice.png" alt="Justice" title="Justice">
	<img class="key mem" src="/img/323x522/12-hanged-man.png" alt="Hanged Man" title="Hanged Man">
	<img class="key nun" src="/img/323x522/13-death.png" alt="Death" title="Death">
	<img class="key samekh" src="/img/323x522/14-temperance.png" alt="Temperance" title="Temperance">
</div>
<div class="row">
	<img class="key ayin" src="/img/323x522/15-the-devil.png" alt="The Devil" title="The Devil">
	<img class="key peh" src="/img/323x522/16-the-tower.png" alt="The Tower" title="The Tower">
	<img class="key tzaddi" src="/img/323x522/17-the-star.png" alt="The Star" title="The Star">
	<img class="key qoph" src="/img/323x522/18-the-moon.png" alt="The Moon" title="The Moon">
	<img class="key resh" src="/img/323x522/19-the-sun.png" alt="The Sun" title="The Sun">
	<img class="key shin" src="/img/323x522/20-judgement.png" alt="Judgement" title="Judgement">
	<img class="key tav" src="/img/323x522/21-the-world.png" alt="The World" title="The World">
</div>
<p><a href="#TableOfContents">Back to Top</a></p>


<hr/><a id="Trestleboard" />
<h3>The Pattern on the Trestleboard</h3>
<p>This is the Truth about the Self:</p>
<ol class="trestleboard" start="0">
	<li>All the Power that ever was or will be is here now.</li>
	<li>I am a center of expression for the Primal Will-to-Good, which eternally creates and sustains the Universe.</li>
	<li>Through me its unfailing Wisdom takes form in thought and word.</li>
	<li>Filled with Understanding of its perfect law, I am guided, moment by moment, along the path of liberation.</li>
	<li>From the exhaustless riches of its Limitless Substance, I draw all things needful, both spiritual and material.</li>
	<li>I recognize the manifestation of the undeviating Justice in all the circumstances of my life.</li>
	<li>In all things, great and small, I see the Beauty of the Divine Expression</li>
	<li>Living from that Will, supported by its unfailing Wisdom and Understanding, mine is the Victorious life.</li>
	<li>I look forward with confidence to the perfect realization of the Eternal Splendor of the Limitless Light.</li>
	<li>In thought and word and deed, I rest my life, from day to day, on the sure Foundation of eternal being.</li>
	<li>The Kingdom of Spirit is embodied in my Flesh.</li>
</ol>
<p><a href="#TableOfContents">Back to Top</a></p>

<hr/><a id="EmeraldTablet" />
<h3>The Emerald Tablet of Hermes</h3>
<p>
	True, without falsehood, certain and most true, that which is above is as that which is below, and that which is below is as that which is above, for the performance of the miracles of the One Thing.

	And as all things are from One, by the mediation of One, so all things have their birth from this One Thing by adaptation.

	The Sun is its father, the Moon its mother, the Wind carries it in its belly, its nurse is the Earth.

	This is the father of all perfection, or the consummation of the whole world.

	Its power is integrating, if it be turned into earth.
</p>
<p>
	Thou shalt separate the earth from the fire, the subtle from the gross, suavely, and with great ingenuity.

	It ascends from earth to heaven and descends again to earth, and receives the power of the superiors and the inferiors.

	So thou hast the glory of the whole world; therefore let all obscurity flee before thee.

	This is the strong force of all forces, overcoming every subtle and penetrating every solid thing.

	So the world was created.

	Hence were all wonderful adaptations, of which this is the manner.

	Therefore am I called Hermes Trismegistus, having the three parts of the plilosophy of the whole world.

	What I have to tell is completed, concerning the Operation of the Sun.
</p>
<p><a href="#TableOfContents">Back to Top</a></p>

<hr/><a id="TreeOfLife" />
<h3>Tree of Life</h3>
<hr/><div class="entry">
	<div class="word aleph"><span class="aleph"></span></div>
</div>
<p><em>
	0. All the power that ever was or will be is here now.
</em></p>
<p>
</p>

<hr/><div class="entry">
	<a id="Kether"/><h3 class="word">
		<a href="Dictionary.html#Kether">Kether</a></h3>
	<div class="word kether"><span class="kaph tav resh"></span></div>
</div>
<p><strong>&nbsp;&nbsp;1. Crown</strong></p>
<p>
	<em><strong>I am a center of expression for the primal will to good with eternally creates and sustains the Universe.</strong></em>
</p>

<hr/><div class="entry">
	<a id="chokmah"/><h3 class="word"><a href="/keys/ChKMH">Chokmah  (73 - חכמה)</a></h3>
	<div class="word chokmah"><span class="cheth kaph mem heh"></span></div>
</div>
<p><strong>&nbsp;&nbsp;2. Wisdom</strong></p>
<p><em><strong>
	Through me its unfailing Wisdom takes form in Thought and word.
</strong></em></p>

<hr/><div class="entry">
	<a id="binah"/><h3 class="word">Binah</h3>
	<div class="word binah"><span class="beth yod nun heh"></span></div>
</div>
<p><strong>&nbsp;&nbsp;3. Understanding</strong></p>
<p><em>
	Filled with Understanding of its Limitless Substance, I am guided, moment by moment, along the path of liberation.
</em></p>

<hr/><div class="entry">
	<a id="chesed"/><h3 class="word">Chesed</h3>
	<div class="word chesed"><span class="cheth samekh daleth"></span></div>
</div>
<p><strong>&nbsp;&nbsp;4. Mercy</strong></p>
<p><em>
	From the exhaustless riches of its Limitless Substance, I draw all things needful, both spiritual and material.
</em></p>

<hr/><div class="entry">
	<a id="geburah"/><h3 class="word">Geburah</h3>
	<div class="word geburah"><span class="gimel beth resh heh"></span></div>
</div>
<p><strong>&nbsp;&nbsp;5. Severity</strong></p>
<p><em>
	I recognize the manifestation of the undeviating Justice in all the circumstances of my life.
</em></p>

<hr/><div class="entry">
	<a id="tiphareth"/><h3 class="word">Tiphareth</h3>
	<div class="word tiphareth"><span class="tav peh resh tav"></span></div>
</div>
<p><strong>&nbsp;&nbsp;6. Beauty</strong></p>
<p><em>
	In all things, great and small, I see the Beauty in the Divine Expression.
</em></p>

<hr/><div class="entry">
	<a id="netzach"/><h3 class="word">Netzach</h3>
	<div class="word netzach"><span class="nun tzaddi cheth"></span></div>
</div>
<p><strong>&nbsp;&nbsp;7. Victory</strong></p>
<p><em>
	Living from that Will, supported by its unfailing Wisdom and Understanding, mine is the Victorious life.
</em></p>

<hr/><div class="entry">
	<a id="hod"/><h3 class="word">Hod</h3>
	<div class="word hod"><span class="heh vav daleth"></span></div>
</div>
<p><strong>&nbsp;&nbsp;8. Splendor</strong></p>
<p><em>
	I look forward with confidence to the perfect realization of the Eternal Splendor of the Limitless Light.
</em></p>

<hr/><div class="entry">
	<a id="yesod"/><h3 class="word">Yesod</h3>
	<div class="word yesod"><span class="yod samekh vav daleth"></span></div>
</div>
<p><strong>&nbsp;&nbsp;9. Foundation</strong></p>
<p><em>
	In thought and word and deed, I rest my life, from day to day, upon the sure Foundation of eternal being.
</em></p>

<hr/><div class="entry">
	<a id="malkuth"/><h3 class="word">Malkuth</h3>
	<div class="word malkuth"><span class="mem lamed kaph tav"></span></div>
</div>
<p><strong>&nbsp;&nbsp;10. Kingdom</strong></p>
<p><em>
	The Kingdom of Spirit is embodied in my fleash.
</em></p>

<hr /><h3 class="word"></h3>
<div class="row">
</div>
<p><a href="#TableOfContents">Back to Top</a></p>
<%- include('footer') %>
