<%- include('header') %>
<style>
	.float-right {
		position: relative;
		float: right;
	}
</style>
<a id="top"/>
<h2>Psalm 119</h2>
<ul>
	<li><a href="#aleph">aleph (א)</a></li>
	<li><a href="#beth">beth (ב)</a></li>
	<li><a href="#gimel">gimel (ג)</a></li>
	<li><a href="#daleth">daleth (ד)</a></li>
	<li><a href="#heh">heh (ה)</a></li>
	<li><a href="#vav">vav (ו)</a></li>
	<li><a href="#zayin">zayin (ז)</a></li>
	<li><a href="#cheth">cheth (ח)</a></li>
	<li><a href="#teth">teth (ט)</a></li>
	<li><a href="#yod">yod (י)</a></li>
	<li><a href="#kaph">kaph (כ)</a></li>
	<li><a href="#lamed">lamed (ל)</a></li>
	<li><a href="#mem">mem (מ)</a></li>
	<li><a href="#nun">nun (נ)</a></li>
	<li><a href="#samekh">samekh (ס)</a></li>
	<li><a href="#ayin">ayin (ע)</a></li>
	<li><a href="#peh">peh (פ)</a></li>
	<li><a href="#tzaddi">tzaddi (צ)</a></li>
	<li><a href="#qoph">qoph (ק)</a></li>
	<li><a href="#resh">resh (ר)</a></li>
	<li><a href="#shin">shin (ש)</a></li>
	<li><a href="#tav">tav (ת)</a></li>
</ul>

<table border="1">
	<tr>
		<td class="center" colspan="4"><a id="aleph" href="/keys/A">aleph</a> (א) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">אַשְׁרֵ֥י תְמִֽימֵי־דָ֑רֶךְ הַֽ֝הֹלְכִ֗ים בְּתוֹרַ֥ת יְהוָֽה׃</td>
		<td>ashri</td>
		<td><strong>1</strong></td>
		<td><strong>Blessed</strong> <em>are</em> the undefiled in the way, who walk in the law of the <span class="small-caps">Lord</span>.</td>
	</tr>
	<tr>
		<td class="right">אַ֭שְׁרֵי נֹצְרֵ֥י עֵדֹתָ֗יו בְּכָל־לֵ֥ב יִדְרְשֽׁוּהוּ׃</td>
		<td>ashri</td>
		<td><strong>2</strong></td>
		<td><strong>Blessed</strong> <em>are</em> they that keep his testimonies, <em>and that</em> seek him with the whole heart.</td>
	</tr>
	<tr>
		<td class="right">אַ֭ף לֹֽא־פָעֲל֣וּ עַוְלָ֑ה בִּדְרָכָ֥יו הָלָֽכוּ׃</td>
		<td>(word)</td>
		<td><strong>3</strong></td>
		<td>They also do no iniquity: they walk in his ways.</td>
	</tr>
	<tr>
		<td class="right">אַ֭תָּה צִוִּ֥יתָה פִקֻּדֶ֗יךָ לִשְׁמֹ֥ר מְאֹֽד׃</td>
		<td>(word)</td>
		<td><strong>4</strong></td>
		<td>Thou hast commanded <em>us</em> to keep thy precepts diligently.</td>
	</tr>
	<tr>
		<td class="right">אַ֭חֲלַי יִכֹּ֥נוּ דְרָכָ֗י לִשְׁמֹ֥ר חֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>5</strong></td>
		<td>O that my ways were directed to keep thy statutes!</td>
	</tr>
	<tr>
		<td class="right">אָ֥ז לֹא־אֵב֑וֹשׁ בְּ֝הַבִּיטִ֗י אֶל־כָּל־מִצְוֺתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>6</strong></td>
		<td>Then shall I not be ashamed, when I have respect unto all thy commandments.</td>
	</tr>
	<tr>
		<td class="right">א֭וֹדְךָ בְּיֹ֣שֶׁר לֵבָ֑ב בְּ֝לָמְדִ֗י מִשְׁפְּטֵ֥י צִדְקֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>7</strong></td>
		<td>I will praise thee with uprightness of heart, when I shall have learned thy righteous judgments.</td>
	</tr>
	<tr>
		<td class="right">אֶת־חֻקֶּ֥יךָ אֶשְׁמֹ֑ר אַֽל־תַּעַזְבֵ֥נִי עַד־מְאֹֽד׃</td>
		<td>(word)</td>
		<td><strong>8</strong></td>
		<td>I will keep thy statutes: O forsake me not utterly.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="beth" href="/keys/B">beth</a> (ב) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">בַּמֶּ֣ה יְזַכֶּה־נַּ֭עַר אֶת־אָרְח֑וֹ לִ֝שְׁמֹ֗ר כִּדְבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>9</strong></td>
		<td>Wherewithal shall a young man cleanse his way? by taking heed <em>thereto</em> according to thy word.</td>
	</tr>
	<tr>
		<td class="right">בְּכָל־לִבִּ֥י דְרַשְׁתִּ֑יךָ אַל־תַּ֝שְׁגֵּ֗נִי מִמִּצְוֺתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>10</strong></td>
		<td>With my whole heart have I sought thee: O let me not wander from thy commandments.</td>
	</tr>
	<tr>
		<td class="right">בְּ֭לִבִּי צָפַ֣נְתִּי אִמְרָתֶ֑ךָ לְ֝מַ֗עַן לֹ֣א אֶֽחֱטָא־לָֽךְ׃</td>
		<td>(word)</td>
		<td><strong>11</strong></td>
		<td>Thy word have I hid in mine heart, that I might not sin against thee.</td>
	</tr>
	<tr>
		<td class="right">בָּר֖וּךְ אַתָּ֥ה יְהוָ֗ה לַמְּדֵ֥נִי חֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>12</strong></td>
		<td>Blessed <em>art</em> thou, O <span class="small-caps">Lord</span>: teach me thy statutes.</td>
	</tr>
	<tr>
		<td class="right">בִּשְׂפָתַ֥י סִפַּ֑רְתִּי כֹּ֝֗ל מִשְׁפְּטֵי־פִֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>13</strong></td>
		<td>With my lips have I declared all the judgments of thy mouth.</td>
	</tr>
	<tr>
		<td class="right">בְּדֶ֖רֶךְ עֵדְוֺתֶ֥יךָ שַׂ֗שְׂתִּי כְּעַ֣ל כָּל־הֽוֹן׃</td>
		<td>(word)</td>
		<td><strong>14</strong></td>
		<td>I have rejoiced in the way of thy testimonies, as <em>much</em> as in all riches.</td>
	</tr>
	<tr>
		<td class="right">בְּפִקֻּדֶ֥יךָ אָשִׂ֑יחָה וְ֝אַבִּ֗יטָה אֹרְחֹתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>15</strong></td>
		<td>I will meditate in thy precepts, and have respect unto thy ways.</td>
	</tr>
	<tr>
		<td class="right">בְּחֻקֹּתֶ֥יךָ אֶֽשְׁתַּעֲשָׁ֑ע לֹ֭א אֶשְׁכַּ֣ח דְּבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>16</strong></td>
		<td>I will delight myself in thy statutes: I will not forget thy word.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="gimel" href="/keys/G">gimel</a> (ג) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">גְּמֹ֖ל עַֽל־עַבְדְּךָ֥ אֶֽחְיֶ֗ה וְאֶשְׁמְרָ֥ה דְבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>17</strong></td>
		<td>Deal bountifully with thy servant, <em>that</em> I may live, and keep thy word.</td>
	</tr>
	<tr>
		<td class="right">גַּל־עֵינַ֥י וְאַבִּ֑יטָה נִ֝פְלָא֗וֹת מִתּוֹרָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>18</strong></td>
		<td>Open thou mine eyes, that I may behold wondrous things out of thy law.</td>
	</tr>
	<tr>
		<td class="right">גֵּ֣ר אָנֹכִ֣י בָאָ֑רֶץ אַל־תַּסְתֵּ֥ר מִ֝מֶּ֗נִּי מִצְוֺתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>19</strong></td>
		<td>I <em>am</em> a stranger in the earth: hide not thy commandments from me.</td>
	</tr>
	<tr>
		<td class="right">גָּרְסָ֣ה נַפְשִׁ֣י לְתַאֲבָ֑ה אֶֽל־מִשְׁפָּטֶ֥יךָ בְכָל־עֵֽת׃</td>
		<td>(word)</td>
		<td><strong>20</strong></td>
		<td>My soul breaketh for the longing <em>that it hath</em> unto thy judgments at all times.</td>
	</tr>
	<tr>
		<td class="right">גָּ֭עַרְתָּ זֵדִ֣ים אֲרוּרִ֑ים הַ֝שֹּׁגִים מִמִּצְוֺתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>21</strong></td>
		<td>Thou hast rebuked the proud <em>that are</em> cursed, which do err from thy commandments.</td>
	</tr>
	<tr>
		<td class="right">גַּ֣ל מֵֽ֭עָלַי חֶרְפָּ֣ה וָב֑וּז כִּ֖י עֵדֹתֶ֣יךָ נָצָֽרְתִּי׃</td>
		<td>(word)</td>
		<td><strong>22</strong></td>
		<td>Remove from me reproach and contempt; for I have kept thy testimonies.</td>
	</tr>
	<tr>
		<td class="right">גַּ֤ם יָֽשְׁב֣וּ שָׂ֭רִים בִּ֣י נִדְבָּ֑רוּ עַ֝בְדְּךָ֗ יָשִׂ֥יחַ בְּחֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>23</strong></td>
		<td>Princes also did sit <em>and</em> speak against me: <em>but</em> thy servant did meditate in thy statutes.</td>
	</tr>
	<tr>
		<td class="right">גַּֽם־עֵ֭דֹתֶיךָ שַׁעֲשֻׁעָ֗י אַנְשֵׁ֥י עֲצָתִֽי׃</td>
		<td>(word)</td>
		<td><strong>24</strong></td>
		<td>Thy testimonies also <em>are</em> my delight <em>and</em> my counsellors.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="daleth" href="/keys/D">daleth</a> (ד) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">דָּֽבְקָ֣ה לֶעָפָ֣ר נַפְשִׁ֑י חַ֝יֵּ֗נִי כִּדְבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>25</strong></td>
		<td>My soul cleaveth unto the dust: quicken thou me according to thy word.</td>
	</tr>
	<tr>
		<td class="right">דְּרָכַ֣י סִ֭פַּרְתִּי וַֽתַּעֲנֵ֗נִי לַמְּדֵ֥נִי חֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>26</strong></td>
		<td>I have declared my ways, and thou heardest me: teach me thy statutes.</td>
	</tr>
	<tr>
		<td class="right">דֶּֽרֶךְ־פִּקּוּדֶ֥יךָ הֲבִינֵ֑נִי וְ֝אָשִׂ֗יחָה בְּנִפְלְאוֹתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>27</strong></td>
		<td>Make me to understand the way of thy precepts: so shall I talk of thy wondrous works.</td>
	</tr>
	<tr>
		<td class="right">דָּלְפָ֣ה נַ֭פְשִׁי מִתּוּגָ֑ה קַ֝יְּמֵ֗נִי כִּדְבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>28</strong></td>
		<td>My soul melteth for heaviness: strengthen thou me according unto thy word.</td>
	</tr>
	<tr>
		<td class="right">דֶּֽרֶךְ־שֶׁ֭קֶר הָסֵ֣ר מִמֶּ֑נִּי וְֽתוֹרָתְךָ֥ חָנֵּֽנִי׃</td>
		<td>(word)</td>
		<td><strong>29</strong></td>
		<td>Remove from me the way of lying: and grant me thy law graciously.</td>
	</tr>
	<tr>
		<td class="right">דֶּֽרֶךְ־אֱמוּנָ֥ה בָחָ֑רְתִּי מִשְׁפָּטֶ֥יךָ שִׁוִּֽיתִי׃</td>
		<td>(word)</td>
		<td><strong>30</strong></td>
		<td>I have chosen the way of truth: thy judgments have I laid <em>before me.</em></td>
	</tr>
	<tr>
		<td class="right">דָּבַ֥קְתִּי בְעֵֽדְוֺתֶ֑יךָ יְ֝הוָ֗ה אַל־תְּבִישֵֽׁנִי׃</td>
		<td>(word)</td>
		<td><strong>31</strong></td>
		<td>I have stuck unto thy testimonies: O <span class="small-caps">Lord</span>, put me not to shame.</td>
	</tr>
	<tr>
		<td class="right">דֶּֽרֶךְ־מִצְוֺתֶ֥יךָ אָר֑וּץ כִּ֖י תַרְחִ֣יב לִבִּֽי׃</td>
		<td>(word)</td>
		<td><strong>32</strong></td>
		<td>I will run the way of thy commandments, when thou shalt enlarge my heart.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="heh" href="/keys/H">heh</a> (ה) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">הוֹרֵ֣נִי יְ֭הוָה דֶּ֥רֶךְ חֻקֶּ֗יךָ וְאֶצְּרֶ֥נָּה עֵֽקֶב׃</td>
		<td>(word)</td>
		<td><strong>33</strong></td>
		<td>Teach me, O <span class="small-caps">Lord</span>, the way of thy statutes; and I shall keep it <em>unto</em> the end.</td>
	</tr>
	<tr>
		<td class="right">הֲ֭בִינֵנִי וְאֶצְּרָ֥ה תֽוֹרָתֶ֗ךָ וְאֶשְׁמְרֶ֥נָּה בְכָל־לֵֽב׃</td>
		<td>(word)</td>
		<td><strong>34</strong></td>
		<td>Give me understanding, and I shall keep thy law; yea, I shall observe it with <em>my</em> whole heart.</td>
	</tr>
	<tr>
		<td class="right">הַ֭דְרִיכֵנִי בִּנְתִ֣יב מִצְוֺתֶ֑יךָ כִּי־ב֥וֹ חָפָֽצְתִּי׃</td>
		<td>(word)</td>
		<td><strong>35</strong></td>
		<td>Make me to go in the path of thy commandments; for therein do I delight.</td>
	</tr>
	<tr>
		<td class="right">הַט־לִ֭בִּי אֶל־עֵדְוֺתֶ֗יךָ וְאַ֣ל אֶל־בָּֽצַע׃</td>
		<td>(word)</td>
		<td><strong>36</strong></td>
		<td>Incline my heart unto thy testimonies, and not to covetousness.</td>
	</tr>
	<tr>
		<td class="right">הַעֲבֵ֣ר עֵ֭ינַי מֵרְא֣וֹת שָׁ֑וְא בִּדְרָכֶ֥ךָ חַיֵּֽנִי׃</td>
		<td>(word)</td>
		<td><strong>37</strong></td>
		<td>Turn away mine eyes from beholding vanity; <em>and</em> quicken thou me in thy way.</td>
	</tr>
	<tr>
		<td class="right">הָקֵ֣ם לְ֭עַבְדְּךָ אִמְרָתֶ֑ךָ אֲ֝שֶׁ֗ר לְיִרְאָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>38</strong></td>
		<td>Stablish thy word unto thy servant, who <em>is devoted</em> to thy fear.</td>
	</tr>
	<tr>
		<td class="right">הַעֲבֵ֣ר חֶ֭רְפָּתִי אֲשֶׁ֣ר יָגֹ֑רְתִּי כִּ֖י מִשְׁפָּטֶ֣יךָ טוֹבִֽים׃</td>
		<td>(word)</td>
		<td><strong>39</strong></td>
		<td>Turn away my reproach which I fear: for thy judgments <em>are</em> good.</td>
	</tr>
	<tr>
		<td class="right">הִ֭נֵּה תָּאַ֣בְתִּי לְפִקֻּדֶ֑יךָ בְּצִדְקָתְךָ֥ חַיֵּֽנִי׃</td>
		<td>(word)</td>
		<td><strong>40</strong></td>
		<td>Behold, I have longed after thy precepts: quicken me in thy righteousness.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="vav" href="/keys/V">vav</a> (ו) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">וִֽיבֹאֻ֣נִי חֲסָדֶ֣ךָ יְהוָ֑ה תְּ֝שֽׁוּעָתְךָ֗ כְּאִמְרָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>41</strong></td>
		<td>Let thy mercies come also unto me, O <span class="small-caps">Lord</span>, <em>even</em> thy salvation, according to thy word.</td>
	</tr>
	<tr>
		<td class="right">וְאֶֽעֱנֶ֣ה חֹרְפִ֣י דָבָ֑ר כִּֽי־בָ֝טַחְתִּי בִּדְבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>42</strong></td>
		<td>So shall I have wherewith to answer him that reproacheth me: for I trust in thy word.</td>
	</tr>
	<tr>
		<td class="right">וְֽאַל־תַּצֵּ֬ל מִפִּ֣י דְבַר־אֱמֶ֣ת עַד־מְאֹ֑ד כִּ֖י לְמִשְׁפָּטֶ֣ךָ יִחָֽלְתִּי׃</td>
		<td>(word)</td>
		<td><strong>43</strong></td>
		<td>And take not the word of truth utterly out of my mouth; for I have hoped in thy judgments.</td>
	</tr>
	<tr>
		<td class="right">וְאֶשְׁמְרָ֖ה תוֹרָתְךָ֥ תָמִ֗יד לְעוֹלָ֥ם וָעֶֽד׃</td>
		<td>(word)</td>
		<td><strong>44</strong></td>
		<td>So shall I keep thy law continually for ever and ever.</td>
	</tr>
	<tr>
		<td class="right">וְאֶתְהַלְּכָ֥ה בָרְחָבָ֑ה כִּ֖י פִקֻּדֶ֣יךָ דָרָֽשְׁתִּי׃</td>
		<td>(word)</td>
		<td><strong>45</strong></td>
		<td>And I will walk at liberty: for I seek thy precepts.</td>
	</tr>
	<tr>
		<td class="right">וַאֲדַבְּרָ֣ה בְ֭עֵדֹתֶיךָ נֶ֥גֶד מְלָכִ֗ים וְלֹ֣א אֵבֽוֹשׁ׃</td>
		<td>(word)</td>
		<td><strong>46</strong></td>
		<td>I will speak of thy testimonies also before kings, and will not be ashamed.</td>
	</tr>
	<tr>
		<td class="right">וְאֶשְׁתַּֽעֲשַׁ֥ע בְּמִצְוֺתֶ֗יךָ אֲשֶׁ֣ר אָהָֽבְתִּי׃</td>
		<td>(word)</td>
		<td><strong>47</strong></td>
		<td>And I will delight myself in thy commandments, which I have loved.</td>
	</tr>
	<tr>
		<td class="right">וְאֶשָּֽׂא־כַפַּ֗י אֶֽל־מִ֭צְוֺתֶיךָ אֲשֶׁ֥ר אָהָ֗בְתִּי וְאָשִׂ֥יחָה בְחֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>48</strong></td>
		<td>My hands also will I lift up unto thy commandments, which I have loved; and I will meditate in thy statutes.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="zayin" href="/keys/Z">zayin</a> (ז) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">זְכֹר־דָּבָ֥ר לְעַבְדֶּ֑ךָ עַ֝֗ל אֲשֶׁ֣ר יִֽחַלְתָּֽנִי׃</td>
		<td>(word)</td>
		<td><strong>49</strong></td>
		<td>Remember the word unto thy servant, upon which thou hast caused me to hope.</td>
	</tr>
	<tr>
		<td class="right">זֹ֣את נֶחָמָתִ֣י בְעָנְיִ֑י כִּ֖י אִמְרָתְךָ֣ חִיָּֽתְנִי׃</td>
		<td>(word)</td>
		<td><strong>50</strong></td>
		<td>This <em>is</em> my comfort in my affliction: for thy word hath quickened me.</td>
	</tr>
	<tr>
		<td class="right">זֵ֭דִים הֱלִיצֻ֣נִי עַד־מְאֹ֑ד מִ֝תּֽוֹרָתְךָ֗ לֹ֣א נָטִֽיתִי׃</td>
		<td>(word)</td>
		<td><strong>51</strong></td>
		<td>The proud have had me greatly in derision: <em>yet</em> have I not declined from thy law.</td>
	</tr>
	<tr>
		<td class="right">זָ֘כַ֤רְתִּי מִשְׁפָּטֶ֖יךָ מֵעוֹלָ֥ם׀ יְהוָ֗ה וָֽאֶתְנֶחָֽם׃</td>
		<td>(word)</td>
		<td><strong>52</strong></td>
		<td>I remembered thy judgments of old, O <span class="small-caps">Lord</span>; and have comforted myself.</td>
	</tr>
	<tr>
		<td class="right">זַלְעָפָ֣ה אֲ֭חָזַתְנִי מֵרְשָׁעִ֑ים עֹ֝זְבֵ֗י תּוֹרָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>53</strong></td>
		<td>Horror hath taken hold upon me because of the wicked that forsake thy law.</td>
	</tr>
	<tr>
		<td class="right">זְ֭מִרוֹת הָֽיוּ־לִ֥י חֻקֶּ֗יךָ בְּבֵ֣ית מְגוּרָֽי׃</td>
		<td>(word)</td>
		<td><strong>54</strong></td>
		<td>Thy statutes have been my songs in the house of my pilgrimage.</td>
	</tr>
	<tr>
		<td class="right">זָ֘כַ֤רְתִּי בַלַּ֣יְלָה שִׁמְךָ֣ יְהוָ֑ה וָֽ֝אֶשְׁמְרָ֗ה תּוֹרָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>55</strong></td>
		<td>I have remembered thy name, O <span class="small-caps">Lord</span>, in the night, and have kept thy law.</td>
	</tr>
	<tr>
		<td class="right">זֹ֥את הָֽיְתָה־לִּ֑י כִּ֖י פִקֻּדֶ֣יךָ נָצָֽרְתִּי׃</td>
		<td>(word)</td>
		<td><strong>56</strong></td>
		<td>This I had, because I kept thy precepts.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="cheth" href="/keys/Ch">cheth</a> (ח) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">חֶלְקִ֖י יְהוָ֥ה אָמַ֗רְתִּי לִשְׁמֹ֥ר דְּבָרֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>57</strong></td>
		<td><em>Thou art</em> my portion, O <span class="small-caps">Lord</span>: I have said that I would keep thy words.</td>
	</tr>
	<tr>
		<td class="right">חִלִּ֣יתִי פָנֶ֣יךָ בְכָל־לֵ֑ב חָ֝נֵּ֗נִי כְּאִמְרָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>58</strong></td>
		<td>I intreated thy favour with <em>my</em> whole heart: be merciful unto me according to thy word.</td>
	</tr>
	<tr>
		<td class="right">חִשַּׁ֥בְתִּי דְרָכָ֑י וָאָשִׁ֥יבָה רַ֝גְלַ֗י אֶל־עֵדֹתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>59</strong></td>
		<td>I thought on my ways, and turned my feet unto thy testimonies.</td>
	</tr>
	<tr>
		<td class="right">חַ֭שְׁתִּי וְלֹ֣א הִתְמַהְמָ֑הְתִּי לִ֝שְׁמֹ֗ר מִצְוֺתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>60</strong></td>
		<td>I made haste, and delayed not to keep thy commandments.</td>
	</tr>
	<tr>
		<td class="right">חֶבְלֵ֣י רְשָׁעִ֣ים עִוְּדֻ֑נִי תּֽ֝וֹרָתְךָ֗ לֹ֣א שָׁכָֽחְתִּי׃</td>
		<td>(word)</td>
		<td><strong>61</strong></td>
		<td>The bands of the wicked have robbed me: <em>but</em> I have not forgotten thy law.</td>
	</tr>
	<tr>
		<td class="right">חֲצֽוֹת־לַ֗יְלָה אָ֭קוּם לְהוֹד֣וֹת לָ֑ךְ עַ֝֗ל מִשְׁפְּטֵ֥י צִדְקֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>62</strong></td>
		<td>At midnight I will rise to give thanks unto thee because of thy righteous judgments.</td>
	</tr>
	<tr>
		<td class="right">חָבֵ֣ר אָ֭נִי לְכָל־אֲשֶׁ֣ר יְרֵא֑וּךָ וּ֝לְשֹׁמְרֵ֗י פִּקּוּדֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>63</strong></td>
		<td>I <em>am</em> a companion of all <em>them</em> that fear thee, and of them that keep thy precepts.</td>
	</tr>
	<tr>
		<td class="right">חַסְדְּךָ֣ יְ֭הוָה מָלְאָ֥ה הָאָ֗רֶץ חֻקֶּ֥יךָ לַמְּדֵֽנִי׃</td>
		<td>(word)</td>
		<td><strong>64</strong></td>
		<td>The earth, O <span class="small-caps">Lord</span>, is full of thy mercy: teach me thy statutes.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="teth" href="/keys/T">teth</a> (ט) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">ט֭וֹב עָשִׂ֣יתָ עִֽם־עַבְדְּךָ֑ יְ֝הוָ֗ה כִּדְבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>65</strong></td>
		<td>Thou hast dealt well with thy servant, O <span class="small-caps">Lord</span>, according unto thy word.</td>
	</tr>
	<tr>
		<td class="right">ט֤וּב טַ֣עַם וָדַ֣עַת לַמְּדֵ֑נִי כִּ֖י בְמִצְוֺתֶ֣יךָ הֶאֱמָֽנְתִּי׃</td>
		<td>(word)</td>
		<td><strong>66</strong></td>
		<td>Teach me good judgment and knowledge: for I have believed thy commandments.</td>
	</tr>
	<tr>
		<td class="right">טֶ֣רֶם אֶ֭עֱנֶה אֲנִ֣י שֹׁגֵ֑ג וְ֝עַתָּ֗ה אִמְרָתְךָ֥ שָׁמָֽרְתִּי׃</td>
		<td>(word)</td>
		<td><strong>67</strong></td>
		<td>Before I was afflicted I went astray: but now have I kept thy word.</td>
	</tr>
	<tr>
		<td class="right">טוֹב־אַתָּ֥ה וּמֵטִ֗יב לַמְּדֵ֥נִי חֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>68</strong></td>
		<td>Thou <em>art</em> good, and doest good; teach me thy statutes.</td>
	</tr>
	<tr>
		<td class="right">טָפְל֬וּ עָלַ֣י שֶׁ֣קֶר זֵדִ֑ים אֲ֝נִ֗י בְּכָל־לֵ֤ב׀ אֱצֹּ֬ר פִּקּוּדֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>69</strong></td>
		<td>The proud have forged a lie against me: <em>but</em> I will keep thy precepts with <em>my</em> whole heart.</td>
	</tr>
	<tr>
		<td class="right">טָפַ֣שׁ כַּחֵ֣לֶב לִבָּ֑ם אֲ֝נִ֗י תּוֹרָתְךָ֥ שִֽׁעֲשָֽׁעְתִּי׃</td>
		<td>(word)</td>
		<td><strong>70</strong></td>
		<td>Their heart is as fat as grease; <em>but</em> I delight in thy law.</td>
	</tr>
	<tr>
		<td class="right">טֽוֹב־לִ֥י כִֽי־עֻנֵּ֑יתִי לְ֝מַ֗עַן אֶלְמַ֥ד חֻקֶּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>71</strong></td>
		<td><em>It is</em> good for me that I have been afflicted; that I might learn thy statutes.</td>
	</tr>
	<tr>
		<td class="right">טֽוֹב־לִ֥י תֽוֹרַת־פִּ֑יךָ מֵ֝אַלְפֵ֗י זָהָ֥ב וָכָֽסֶף׃</td>
		<td>(word)</td>
		<td><strong>72</strong></td>
		<td>The law of thy mouth <em>is</em> better unto me than thousands of gold and silver.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="yod" href="/keys/I">yod</a> (י) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">יָדֶ֣יךָ עָ֭שׂוּנִי וַֽיְכוֹנְנ֑וּנִי הֲ֝בִינֵ֗נִי וְאֶלְמְדָ֥ה מִצְוֺתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>73</strong></td>
		<td>Thy hands have made me and fashioned me: give me understanding, that I may learn thy commandments.</td>
	</tr>
	<tr>
		<td class="right">יְ֭רֵאֶיךָ יִרְא֣וּנִי וְיִשְׂמָ֑חוּ כִּ֖י לִדְבָרְךָ֣ יִחָֽלְתִּי׃</td>
		<td>(word)</td>
		<td><strong>74</strong></td>
		<td>They that fear thee will be glad when they see me; because I have hoped in thy word.</td>
	</tr>
	<tr>
		<td class="right">יָדַ֣עְתִּי יְ֭הוָה כִּי־צֶ֣דֶק מִשְׁפָּטֶ֑יךָ וֶ֝אֱמוּנָ֗ה עִנִּיתָֽנִי׃</td>
		<td>(word)</td>
		<td><strong>75</strong></td>
		<td>I know, O <span class="small-caps">Lord</span>, that thy judgments <em>are</em> right, and <em>that</em> thou in faithfulness hast afflicted me.</td>
	</tr>
	<tr>
		<td class="right">יְהִי־נָ֣א חַסְדְּךָ֣ לְנַחֲמֵ֑נִי כְּאִמְרָתְךָ֥ לְעַבְדֶּֽךָ׃</td>
		<td>(word)</td>
		<td><strong>76</strong></td>
		<td>Let, I pray thee, thy merciful kindness be for my comfort, according to thy word unto thy servant.</td>
	</tr>
	<tr>
		<td class="right">יְבֹא֣וּנִי רַחֲמֶ֣יךָ וְאֶֽחְיֶ֑ה כִּי־תֽ֝וֹרָתְךָ֗ שַֽׁעֲשֻׁעָֽי׃</td>
		<td>(word)</td>
		<td><strong>77</strong></td>
		<td>Let thy tender mercies come unto me, that I may live: for thy law <em>is</em> my delight.</td>
	</tr>
	<tr>
		<td class="right">יֵבֹ֣שׁוּ זֵ֭דִים כִּי־שֶׁ֣קֶר עִוְּת֑וּנִי אֲ֝נִ֗י אָשִׂ֥יחַ בְּפִקּוּדֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>78</strong></td>
		<td>Let the proud be ashamed; for they dealt perversely with me without a cause: <em>but</em> I will meditate in thy precepts.</td>
	</tr>
	<tr>
		<td class="right">יָשׁ֣וּבוּ לִ֣י יְרֵאֶ֑יךָ ׳וְיָדְעוּ׳ ״וְ֝יֹדְעֵ֗י״ עֵדֹתֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>79</strong></td>
		<td>Let those that fear thee turn unto me, and those that have known thy testimonies.</td>
	</tr>
	<tr>
		<td class="right">יְהִֽי־לִבִּ֣י תָמִ֣ים בְּחֻקֶּ֑יךָ לְ֝מַ֗עַן לֹ֣א אֵבֽוֹשׁ׃</td>
		<td>(word)</td>
		<td><strong>80</strong></td>
		<td>Let my heart be sound in thy statutes; that I be not ashamed.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="caph" href="/keys/K">caph</a> (כ) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">כָּלְתָ֣ה לִתְשׁוּעָתְךָ֣ נַפְשִׁ֑י לִדְבָרְךָ֥ יִחָֽלְתִּי׃</td>
		<td>(word)</td>
		<td><strong>81</strong></td>
		<td>My soul fainteth for thy salvation: <em>but</em> I hope in thy word.</td>
	</tr>
	<tr>
		<td class="right">כָּל֣וּ עֵ֭ינַי לְאִמְרָתֶ֑ךָ לֵ֝אמֹ֗ר מָתַ֥י תְּֽנַחֲמֵֽנִי׃</td>
		<td>(word)</td>
		<td><strong>82</strong></td>
		<td>Mine eyes fail for thy word, saying, When wilt thou comfort me?</td>
	</tr>
	<tr>
		<td class="right">כִּֽי־הָ֭יִיתִי כְּנֹ֣אד בְּקִיט֑וֹר חֻ֝קֶּ֗יךָ לֹ֣א שָׁכָֽחְתִּי׃</td>
		<td>(word)</td>
		<td><strong>83</strong></td>
		<td>For I am become like a bottle in the smoke; <em>yet</em> do I not forget thy statutes.</td>
	</tr>
	<tr>
		<td class="right">כַּמָּ֥ה יְמֵֽי־עַבְדֶּ֑ךָ מָתַ֬י תַּעֲשֶׂ֖ה בְרֹדְפַ֣י מִשְׁפָּֽט׃</td>
		<td>(word)</td>
		<td><strong>84</strong></td>
		<td>How many <em>are</em> the days of thy servant? when wilt thou execute judgment on them that persecute me?</td>
	</tr>
	<tr>
		<td class="right">כָּֽרוּ־לִ֣י זֵדִ֣ים שִׁיח֑וֹת אֲ֝שֶׁ֗ר לֹ֣א כְתוֹרָתֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>85</strong></td>
		<td>The proud have digged pits for me, which <em>are</em> not after thy law.</td>
	</tr>
	<tr>
		<td class="right">כָּל־מִצְוֺתֶ֥יךָ אֱמוּנָ֑ה שֶׁ֖קֶר רְדָפ֣וּנִי עָזְרֵֽנִי׃</td>
		<td>(word)</td>
		<td><strong>86</strong></td>
		<td>All thy commandments <em>are</em> faithful: they persecute me wrongfully; help thou me.</td>
	</tr>
	<tr>
		<td class="right">כִּ֭מְעַט כִּלּ֣וּנִי בָאָ֑רֶץ וַ֝אֲנִ֗י לֹא־עָזַ֥בְתִּי פִקֻּודֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>87</strong></td>
		<td>They had almost consumed me upon earth; but I forsook not thy precepts.</td>
	</tr>
	<tr>
		<td class="right">כְּחַסְדְּךָ֥ חַיֵּ֑נִי וְ֝אֶשְׁמְרָ֗ה עֵד֥וּת פִּֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>88</strong></td>
		<td>Quicken me after thy lovingkindness; so shall I keep the testimony of thy mouth.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="lamed" href="/keys/L">lamed</a> (ל) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">לְעוֹלָ֥ם יְהוָ֑ה דְּ֝בָרְךָ֗ נִצָּ֥ב בַּשָּׁמָֽיִם׃</td>
		<td>(word)</td>
		<td><strong>89</strong></td>
		<td>For ever, O <span class="small-caps">Lord</span>, thy word is settled in heaven.</td>
	</tr>
	<tr>
		<td class="right">לְדֹ֣ר וָ֭דֹר אֱמֽוּנָתֶ֑ךָ כּוֹנַ֥נְתָּ אֶ֝֗רֶץ וַֽתַּעֲמֹֽד׃</td>
		<td>(word)</td>
		<td><strong>90</strong></td>
		<td>Thy faithfulness <em>is</em> unto all generations: thou hast established the earth, and it abideth.</td>
	</tr>
	<tr>
		<td class="right">לְֽ֭מִשְׁפָּטֶיךָ עָמְד֣וּ הַיּ֑וֹם כִּ֖י הַכֹּ֣ל עֲבָדֶֽיךָ׃</td>
		<td>(word)</td>
		<td><strong>91</strong></td>
		<td>They continue this day according to thine ordinances: for all <em>are</em> thy servants.</td>
	</tr>
	<tr>
		<td class="right">לוּלֵ֣י ת֭וֹרָתְךָ שַׁעֲשֻׁעָ֑י אָ֝֗ז אָבַ֥דְתִּי בְעָנְיִֽי׃</td>
		<td>(word)</td>
		<td><strong>92</strong></td>
		<td>Unless thy law <em>had been</em> my delights, I should then have perished in mine affliction.</td>
	</tr>
	<tr>
		<td class="right">לְ֭עוֹלָם לֹא־אֶשְׁכַּ֣ח פִּקּוּדֶ֑יךָ כִּ֥י בָ֝֗ם חִיִּיתָֽנִי׃</td>
		<td>(word)</td>
		<td><strong>93</strong></td>
		<td>I will never forget thy precepts: for with them thou hast quickened me.</td>
	</tr>
	<tr>
		<td class="right">לְֽךָ־אֲ֭נִי הוֹשִׁיעֵ֑נִי כִּ֖י פִקּוּדֶ֣יךָ דָרָֽשְׁתִּי׃</td>
		<td>(word)</td>
		<td><strong>94</strong></td>
		<td>I <em>am</em> thine, save me; for I have sought thy precepts.</td>
	</tr>
	<tr>
		<td class="right">לִ֤י קִוּ֣וּ רְשָׁעִ֣ים לְאַבְּדֵ֑נִי עֵ֝דֹתֶ֗יךָ אֶתְבּוֹנָֽן׃</td>
		<td>(word)</td>
		<td><strong>95</strong></td>
		<td>The wicked have waited for me to destroy me: <em>but</em> I will consider thy testimonies.</td>
	</tr>
	<tr>
		<td class="right">לְֽכָל תִּ֭כְלָה רָאִ֣יתִי קֵ֑ץ רְחָבָ֖ה מִצְוָתְךָ֣ מְאֹֽד׃</td>
		<td>(word)</td>
		<td><strong>96</strong></td>
		<td>I have seen an end of all perfection: <em>but</em> thy commandment <em>is</em> exceeding broad.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="mem" href="/keys/M">mem</a> (מ) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">מָֽה־אָהַ֥בְתִּי תוֹרָתֶ֑ךָ כָּל־הַ֝יּ֗וֹם הִ֣יא שִׂיחָתִֽי׃</td>
		<td>(word)</td>
		<td><strong>97</strong></td>
		<td>O how love I thy law! it <em>is</em> my meditation all the day.</td>
	</tr>
	<tr>
		<td class="right">מֵ֭אֹ֣יְבַי תְּחַכְּמֵ֣נִי מִצְוֺתֶ֑ךָ כִּ֖י לְעוֹלָ֣ם הִיא־לִֽי׃</td>
		<td>(word)</td>
		<td><strong>98</strong></td>
		<td>Thou through thy commandments hast made me wiser than mine enemies: for they <em>are</em> ever with me.</td>
	</tr>
	<tr>
		<td class="right">מִכָּל־מְלַמְּדַ֥י הִשְׂכַּ֑לְתִּי כִּ֥י עֵ֝דְוֺתֶ֗יךָ שִׂ֣יחָה לִֽֿי׃</td>
		<td>(word)</td>
		<td><strong>99</strong></td>
		<td>I have more understanding than all my teachers: for thy testimonies <em>are</em> my meditation.</td>
	</tr>
	<tr>
		<td class="right">מִזְּקֵנִ֥ים אֶתְבּוֹנָ֑ן כִּ֖י פִקּוּדֶ֣יךָ נָצָֽרְתִּי׃
</td>
		<td>(word)</td>
		<td><strong>100</strong></td>
		<td>I understand more than the ancients, because I keep thy precepts.</td>
	</tr>
	<tr>
		<td class="right">מִכָּל־אֹ֣רַח רָ֭ע כָּלִ֣אתִי רַגְלָ֑י לְ֝מַ֗עַן אֶשְׁמֹ֥ר דְּבָרֶֽךָ׃</td>
		<td>(word)</td>
		<td><strong>101</strong></td>
		<td>I have refrained my feet from every evil way, that I might keep thy word.</td>
	</tr>
	<tr>
		<td class="right">מִמִּשְׁפָּטֶ֥יךָ לֹא־סָ֑רְתִּי כִּֽי־אַ֝תָּ֗ה הוֹרֵתָֽנִי׃</td>
		<td>(word)</td>
		<td><strong>102</strong></td>
		<td>I have not departed from thy judgments: for thou hast taught me.</td>
	</tr>
	<tr>
		<td class="right">מַה־נִּמְלְצ֣וּ לְ֭חִכִּי אִמְרָתֶ֗ךָ מִדְּבַ֥שׁ לְפִֽי׃</td>
		<td>(word)</td>
		<td><strong>103</strong></td>
		<td>How sweet are thy words unto my taste! <em>yea, sweeter</em> than honey to my mouth!</td>
	</tr>
	<tr>
		<td class="right">מִפִּקּוּדֶ֥יךָ אֶתְבּוֹנָ֑ן עַל־כֵּ֝֗ן שָׂנֵ֤אתִי׀ כָּל־אֹ֬רַח שָֽׁקֶר׃</td>
		<td>(word)</td>
		<td><strong>104</strong></td>
		<td>Through thy precepts I get understanding: therefore I hate every false way.</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="nun" href="/keys/N">nun</a> (נ) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="samekh" href="/keys/S">samekh</a> (ס) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="ayin" href="/keys/O">ayin</a> (ע) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="peh" href="/keys/P">peh</a> (פ) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="tzaddi" href="/keys/Tz">tzaddi</a> (צ) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="qoph" href="/keys/Q">qoph</a> (ק) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="resh" href="/keys/R">resh</a>(ר) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="shin" href="/keys/Sh">shin</a> (ש) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="center" colspan="4"><a id="tav" href="/keys/Tv">tav</a> (ת) <span class="float-right">(<a href="#top">top</a>)</span></td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
	<tr>
		<td class="right">(hebrew)</td>
		<td>(word)</td>
		<td><strong></strong></td>
		<td>(english)</td>
	</tr>
</table>

<%- include('footer') %>
