<%- include('header') %>
<style>
	img.tattva {
		height: 287px;
		width: 165px;
		border: 2px solid black;
	}
	img.tattva-large {
		height: 574px;
		width: 322px;
		border: 3px solid black;
	}
</style>
<table>
	<tr>
		<td><img class="tattva" src="/img/tattva/akasha-akasha.gif"></td>
		<td><img class="tattva" src="/img/tattva/akasha-vayu.gif"></td>
		<td><img class="tattva" src="/img/tattva/akasha-tejas.gif"></td>
		<td><img class="tattva" src="/img/tattva/akasha-apas.gif"></td>
		<td><img class="tattva" src="/img/tattva/akasha-prithivi.gif"></td>
	</tr>
	<tr>
		<td class="center">akasha<br>akasha</td>
		<td class="center">akasha<br>vayu</td>
		<td class="center">akasha<br>tejas</td>
		<td class="center">akasha<br>apas</td>
		<td class="center">akasha<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><img class="tattva" src="/img/tattva/vayu-akasha.gif"></td>
		<td><img class="tattva" src="/img/tattva/vayu-vayu.gif"></td>
		<td><img class="tattva" src="/img/tattva/vayu-tejas.gif"></td>
		<td><img class="tattva" src="/img/tattva/vayu-apas.gif"></td>
		<td><img class="tattva" src="/img/tattva/vayu-prithivi.gif"></td>
	</tr>
	<tr>
		<td class="center">vayu<br>akasha</td>
		<td class="center">vayu<br>vayu</td>
		<td class="center">vayu<br>tejas</td>
		<td class="center">vayu<br>apas</td>
		<td class="center">vayu<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><img class="tattva" src="/img/tattva/tejas-akasha.gif"></td>
		<td><img class="tattva" src="/img/tattva/tejas-vayu.gif"></td>
		<td><img class="tattva" src="/img/tattva/tejas-tejas.gif"></td>
		<td><img class="tattva" src="/img/tattva/tejas-apas.gif"></td>
		<td><img class="tattva" src="/img/tattva/tejas-prithivi.gif"></td>
	</tr>
	<tr>
		<td class="center">tejas<br>akasha</td>
		<td class="center">tejas<br>vayu</td>
		<td class="center">tejas<br>tejas</td>
		<td class="center">tejas<br>apas</td>
		<td class="center">tejas<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><img class="tattva" src="/img/tattva/apas-akasha.gif"></td>
		<td><img class="tattva" src="/img/tattva/apas-vayu.gif"></td>
		<td><img class="tattva" src="/img/tattva/apas-tejas.gif"></td>
		<td><img class="tattva" src="/img/tattva/apas-apas.gif"></td>
		<td><img class="tattva" src="/img/tattva/apas-prithivi.gif"></td>
	</tr>
	<tr>
		<td class="center">apas<br>akasha</td>
		<td class="center">apas<br>vayu</td>
		<td class="center">apas<br>tejas</td>
		<td class="center">apas<br>apas</td>
		<td class="center">apas<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><img class="tattva" src="/img/tattva/prithivi-akasha.gif"></td>
		<td><img class="tattva" src="/img/tattva/prithivi-vayu.gif"></td>
		<td><img class="tattva" src="/img/tattva/prithivi-tejas.gif"></td>
		<td><img class="tattva" src="/img/tattva/prithivi-apas.gif"></td>
		<td><img class="tattva" src="/img/tattva/prithivi-prithivi.gif"></td>
	</tr>
	<tr>
		<td class="center">prithivi<br>akasha</td>
		<td class="center">prithivi<br>vayu</td>
		<td class="center">prithivi<br>tejas</td>
		<td class="center">prithivi<br>apas</td>
		<td class="center">prithivi<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5" class="center"><img class="tattva-large" src="/img/tattva/tattva-all.gif"></td>
	</tr>
</table>
<%- include('footer') %>
