<%- include('header') %>
<style>
	img.tattva {
		height: 287px;
		width: 165px;
		border: 2px solid black;
	}
	img.tattva-large {
		height: 574px;
		width: 322px;
		border: 3px solid black;
	}
	table {
		margin: auto;
	}
</style>
<p class="center"><a href="/content/tattvas">Tattva Correspondences</a></p>
<table>
	<tr>
		<td><a href="/tattva/akasha-akasha"><img class="tattva" src="/img/tattva/akasha-akasha.gif"></a></td>
		<td><a href="/tattva/akasha-vayu"><img class="tattva" src="/img/tattva/akasha-vayu.gif"></a></td>
		<td><a href="/tattva/akasha-tejas"><img class="tattva" src="/img/tattva/akasha-tejas.gif"></a></td>
		<td><a href="/tattva/akasha-apas"><img class="tattva" src="/img/tattva/akasha-apas.gif"></a></td>
		<td><a href="/tattva/akasha-prithivi"><img class="tattva" src="/img/tattva/akasha-prithivi.gif"></a></td>
	</tr>
	<tr>
		<td class="center">akasha<br>akasha</td>
		<td class="center">akasha<br>vayu</td>
		<td class="center">akasha<br>tejas</td>
		<td class="center">akasha<br>apas</td>
		<td class="center">akasha<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><a href="/tattva/vayu-akasha"><img class="tattva" src="/img/tattva/vayu-akasha.gif"></a></td>
		<td><a href="/tattva/vayu-vayu"><img class="tattva" src="/img/tattva/vayu-vayu.gif"></a></td>
		<td><a href="/tattva/vayu-tejas"><img class="tattva" src="/img/tattva/vayu-tejas.gif"></a></td>
		<td><a href="/tattva/vayu-apas"><img class="tattva" src="/img/tattva/vayu-apas.gif"></a></td>
		<td><a href="/tattva/vayu-prithivi"><img class="tattva" src="/img/tattva/vayu-prithivi.gif"></a></td>
	</tr>
	<tr>
		<td class="center">vayu<br>akasha</td>
		<td class="center">vayu<br>vayu</td>
		<td class="center">vayu<br>tejas</td>
		<td class="center">vayu<br>apas</td>
		<td class="center">vayu<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><a href="/tattva/tejas-akasha"><img class="tattva" src="/img/tattva/tejas-akasha.gif"></a></td>
		<td><a href="/tattva/tejas-vayu"><img class="tattva" src="/img/tattva/tejas-vayu.gif"></a></td>
		<td><a href="/tattva/tejas-tejas"><img class="tattva" src="/img/tattva/tejas-tejas.gif"></a></td>
		<td><a href="/tattva/tejas-apas"><img class="tattva" src="/img/tattva/tejas-apas.gif"></a></td>
		<td><a href="/tattva/tejas-prithivi"><img class="tattva" src="/img/tattva/tejas-prithivi.gif"></a></td>
	</tr>
	<tr>
		<td class="center">tejas<br>akasha</td>
		<td class="center">tejas<br>vayu</td>
		<td class="center">tejas<br>tejas</td>
		<td class="center">tejas<br>apas</td>
		<td class="center">tejas<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><a href="/tattva/apas-akasha"><img class="tattva" src="/img/tattva/apas-akasha.gif"></a></td>
		<td><a href="/tattva/apas-vayu"><img class="tattva" src="/img/tattva/apas-vayu.gif"></a></td>
		<td><a href="/tattva/apas-tejas"><img class="tattva" src="/img/tattva/apas-tejas.gif"></a></td>
		<td><a href="/tattva/apas-apas"><img class="tattva" src="/img/tattva/apas-apas.gif"></a></td>
		<td><a href="/tattva/apas-prithivi"><img class="tattva" src="/img/tattva/apas-prithivi.gif"></a></td>
	</tr>
	<tr>
		<td class="center">apas<br>akasha</td>
		<td class="center">apas<br>vayu</td>
		<td class="center">apas<br>tejas</td>
		<td class="center">apas<br>apas</td>
		<td class="center">apas<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td><a href="/tattva/prithivi-akasha"><img class="tattva" src="/img/tattva/prithivi-akasha.gif"></a></td>
		<td><a href="/tattva/prithivi-vayu"><img class="tattva" src="/img/tattva/prithivi-vayu.gif"></a></td>
		<td><a href="/tattva/prithivi-tejas"><img class="tattva" src="/img/tattva/prithivi-tejas.gif"></a></td>
		<td><a href="/tattva/prithivi-apas"><img class="tattva" src="/img/tattva/prithivi-apas.gif"></a></td>
		<td><a href="/tattva/prithivi-prithivi"><img class="tattva" src="/img/tattva/prithivi-prithivi.gif"></a></td>
	</tr>
	<tr>
		<td class="center">prithivi<br>akasha</td>
		<td class="center">prithivi<br>vayu</td>
		<td class="center">prithivi<br>tejas</td>
		<td class="center">prithivi<br>apas</td>
		<td class="center">prithivi<br>prithivi</td>
	</tr>
	<tr>
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5" class="center"><a href="/tattva/tattva-all"><img class="tattva-large" src="/img/tattva/tattva-all.gif"></a></td>
	</tr>
</table>
<%- include('footer') %>
